.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  bottom: 50vh;
  left: calc(50vw - 130px);
  width: 250px;
  z-index: 20;
  background-color: #272726;
  color: #51a351;
  padding: 10px;
}

.factions {
  display: flex;
}

.display-faction {
  padding: 20px;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.display-faction:hover {
  background-color: rgb(97, 94, 94);
  cursor: pointer;
  transform: scale(1.2, 1.2);
}

.faction-icon-assassins {
  height: 50px;
}

.faction-icon-templars {
  height: 40px;
  margin-bottom: 5px;
  margin-top: 5px;
}
